.main-content-transition-enter {
    opacity: 0;
}

.main-content-transition-leave {
    opacity: 1;
}

.main-content-transition-enter-active,
.main-content-transition-leave-active {
    transition: opacity 0.3s ease-in-out;
}
