$primary-color: #427bff;
$primary-color-hover: #326cf3;
$success-color: #52c41a;
$fail-color: #ff4d4f;
$dark-primary-color: #364870;
$dark-primary-color-hover: rgba(66, 87, 140, 0.98);
$dark-color: #141414;
$dark-color-1: #2c2c2c;
$dark-color-2: #232323;
$dark-color-3: #302f2f;
$dark-color-4: #999999;
$dark-color-5: #f1f0f0;

$aside-width: 210px;
$aside-fold-width: 5px;
$footer-height: 32px;

:root {
    --primary-color: #{$primary-color}; // 使用 Sass 变量为 CSS 变量赋值
    --success-color: #{$success-color};
    --fail-color: #{$fail-color};
    --dark-bg-color: #{$dark-color};
    --dark-bg-color-inactive: #{$dark-color-1};
    --dark-bg-color-active: #{$dark-color-2};
    --dark-bg-color-active-1: #{$dark-color-3};
    --dark-bg-color-active-2: #{$dark-color-4};
    --dark-bg-color-active-3: #{$dark-color-5};
    --primary-color-hover: #{$primary-color-hover};
    --footer-height: #{$footer-height};
    --aside-width: #{$aside-width};
    --aside-fold-width: #{$aside-fold-width};
    --main-background: #ffffff;
}

// 暗黑模式
.dark {
    --primary-color: #{$dark-primary-color}; // 使用 Sass 变量为 CSS 变量赋值
    --el-color-primary: #{$dark-primary-color} !important;
    --el-color-primary-light-5: #{$dark-primary-color-hover} !important;
    --el-color-primary-light-3: #{$dark-primary-color-hover} !important;
    --main-background: #{$dark-color};
    --dark-bg-color-active-3: #{$dark-color-3};
}
